@import '../../../assets/icons';
@import '../../../assets/colors';

.song_title{
    background: $grey;
    padding: 20px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 70px;
    left: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: bold;
    color: $black;
}
.song_artist{
    font-size: 0.7em;
    font-weight: normal;
}
.song_attr{
    width: 100%;
}
.song_attr th, td{
    padding-top: 10px;
}
.song_attr th{
    text-align: left;
    vertical-align: top;
}
.song_attr td{
    padding-left: 20px;
    
    ul{
        margin: 0;
        padding-left: 0;
    
        li{
            display: block;
        }
    }
} 
.song_title:hover .mods{
    display: inline-block !important;
}
.mods{
    display: none;
    position: absolute;
    right: 10px;
    top: calc(70% - 25px);
}