<div class="song_title">{{ song.name }}<br>
    <span class="song_artist">{{ song.artist }}</span>
    <div class="mods">
        <i class="icon">edit</i>
        <i class="icon" (click)="editMeta( song.id )">settings</i>
        <i class="icon" (click)="delete( song.id )">delete</i>
    </div>
</div>
<div class="song_preview">{{ song.getPreview() }}</div>
<table class="song_attr">
    <tr>
        <th class="icon-bpm"></th>
        <td>
            {{ song.getBPM() }}
        </td>
    </tr>
    <tr>
        <th class="icon-books"></th>
        <td>
            <ul>
                <li *ngFor="let book of song.books">{{ book }}</li>
            </ul>
        </td>
    </tr>
</table>
