
<div id="browser_content" class="content" [ngSwitch]="type">
    <h3>{{ headline }}<i class="icon" (click)="showAddForm()">add_box</i></h3>
    <div id="songs">
        <input id="search" [placeholder]="search_text" oninput="search(this)">
        <span *ngSwitchCase="'songs'">
            <app-song *ngFor="let song of song_elems" [song]="song" class="prev_box" (editID)="showAddForm($event)" (deleted)="updateElems()"></app-song>
        </span>
        <span *ngSwitchCase="'events'">
            <app-event *ngFor="let event of songgroup_elems" [event]="event" class="prev_box" (editID)="showAddForm($event)" (deleted)="updateElems()"></app-event>
        </span>
    </div>

    <app-song-event-form *ngIf="displayAddForm" [display]="[type, editID]" (displayOut)=" updateElems(); displayAddForm = $event.display; type = $event.type; editID = $event.id;"></app-song-event-form>
</div>
