@import '../../../assets/icons';
@import '../../../assets/colors';

mat-card{
    min-width: 200px;
    width: calc(100% / 5);
    height: 300px;
    padding: 0;
    display: inline-block;
    margin: 10px;
}

mat-card-header{
    background: $pastel-blue;
    padding: 24px;
    height: 24px;

    mat-card-title{
        font-size: 1.2em;
    }
}

mat-card-content{
    background: $white;
    padding: 24px;
}

.event_attr{
    width: 100%;
}
.event_attr th, td{
    padding-top: 10px;
}
.event_attr th{
    text-align: left;
    vertical-align: top;
}
.event_attr td ul{
    margin: 0;
    
    li{
        display: block;
    }
}
mat-card:hover .mods{
    display: inline-block !important;
}

.mods{
    display: none;
    position: absolute;
    right: 10px;
}