@import '../../../assets/colors';
.content{
    width: 100%;
    padding-top: 100px;
}
div{
    width: 25%;
    height: 100px;
    padding: 50px;
    display: inline-block;
    .lavender{
        background: $lavender;
    }
    .lila{
        color: $white;
        background: $lila;
    }
    .dark-lila{
        color: $white;
        background: $dark-lila;
    }
    .light-orange{
        background: $light-orange;
    }
    .orange{
        background: $orange;
    }
    .dark-orange{
        background: $dark-orange;
    }
    .pastel-blue{
        background: $pastel-blue;
    }
    .blue{
        background: $blue;
    }
    .dark-blue{
        background: $dark-blue;
    }
    .lemon{
        background: $lemon;
    }
    .pastel-yellow{
        background: $pastel-yellow;
    }
    .yellow{
        background: $yellow;
    }
    .dark-yellow{
        background: $dark-yellow;
    }
    .black{
        color: $white;
        background: $black;
    }
    .dark-grey{
        color: $white;
        background: $dark-grey;
    }
    .grey{
        background: $grey;
    }
    .light-grey{
        background: $light-grey;
    }
    .white{
        background: $white;
    }
}