@import '../../../assets/fonts.scss';
@import '../../../assets/colors.scss';

.linenumbers{
  background: $dark-grey;
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  min-height: 100%;
  z-index: 0;
}

.line::before{
  position: relative;
  z-index: 5;
  text-align: right;
  width: 30px;
  height: 100%;
  padding-right: 5px;
  font-size: 0.9em;
  content: attr(data-content);
  background: $dark-grey;
  color: $white;
  font-family: $robotoMono;
  display: table-cell;
  vertical-align: top;
}
.line:last-child::before{
  padding-bottom: 10px;
}
.line ::ng-deep{
  display: table;

  pre{
    display: inline;
    margin: 0;
    word-break: break-all;
    white-space: pre-wrap;
  }
  .line-wrapper{
    padding-left: 5px;
    display: table-cell;
  }

  .red{
    color: red;
  }
  .green{
    color: green;
  }
  .blue{
    color: blue;
  }
  .bold{
    font-weight: bold;
  }
  .italic{
    font-style: italic;
  }

  .grey{
    color: grey;
  }
  .orange{
    color: darkorange;
  }
}
#highlighted-field{
  position: absolute;
  top: 0;
  right: 0;
  background: $grey;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  font-family: $robotoMono;
  font-size: 1em;
  color: $black;
  line-height: 0.99em;
  padding: 2px 0;
}
#edit-field{
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 1;
  background: transparent;
  border: none;
  color: $black;
  -webkit-text-fill-color: transparent;
  z-index: 10;
  box-sizing: border-box;
  font-family: $robotoMono; 
  font-size: 0.8em;
  outline: none;
  padding: 2px;
  padding-left: 40px;
  letter-spacing: 0.1px;
}
#wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}