@import "../assets/colors.scss";

mat-sidenav-container{
  height: 100%;
  width: 100%;
}

mat-sidenav{
  width: 90px;
  height: 100%;
  background: $dark-blue;
  padding-top: 20px;
  
  a{
    background: $dark-blue;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
  }
}