@import '../../../assets/icons';
@import '../../../assets/colors';

.closeCross{
    position: fixed;
    top: calc(50% - 130px);
    right: calc(50% - 305px);
    color: $grey;
    cursor: pointer;
}
.songselector-label{
    display: inline-block;
    width: 45px;
}
.songselection-input{
    width: calc(100% - 50px);
}
mat-form-field{
    width: 100%;
    margin: 0 auto;
}
.mat-dialog-actions{
    float: right;
}