@import '../../../assets/fonts.scss';
@import '../../../assets/colors.scss';

app-songsheet-textarea, app-preview{
  display: inline-block;
  height: calc(100%);
  width: 49.8%;
  vertical-align: top;
}