<div class="popup">
    <div class="popup_content">
        <i class="closeCross icon" (click)="closeAddForm()">close</i>
        <span [ngSwitch]="type">
            <span *ngSwitchCase="'songs'">
                <form>
                    <label for="name">Title</label>
                    <input type="text" name="name" id="name" 
                        placeholder="Title*" 
                        required 
                        ngModel
                        [(ngModel)]="song.name"
                        #title="ngModel"
                    >
                    <div class="error" *ngIf="title.touched && !title.valid">A song has to have a name.</div>

                    <label for="name">Artist</label>
                    <input type="text" name="artist" id="artist" 
                        placeholder="Artist" 
                        [(ngModel)]="song.artist"
                    >

                    <label for="name">BPM</label>                        
                    <input type="number" name="bpm" id="bpm" 
                        placeholder="BPM" min="40" max="240"
                        [value]="song.getBPM()" 
                        (input)="song.setBPM($event.target.value)"
                    >

                    <label for="name">Books</label>                        
                    <input type="text" name="books" id="books" 
                        placeholder="Books" 
                        [(ngModel)]="songBooksStr"
                    >
                    <div class="description">Separate each book with ';'</div>
                    
                    <button type="submit" (click)="submitSong($event)">Save song</button>
                </form>
            </span>

            <span *ngSwitchCase="'events'">
                <form #form_event>
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" 
                        placeholder="Name*" 
                        required 
                        [(ngModel)]="songgroup.name"
                        ngModel
                        #eventName="ngModel"                  
                    >
                    <div class="error" *ngIf="eventName.touched && !eventName.valid">An Event has to have a name.</div>

                    <label for="description">Description</label>
                    <input type="text" name="description" id="description" 
                        placeholder="Description" 
                        [(ngModel)]="songgroup.description"                           
                    >

                    <label for="date">Date</label>
                    <input type="text" name="date" id="date" 
                        placeholder="Date" 
                        (focus)="changeDateFormat($event.target)" 
                        (blur)="changeDateFormat($event.target)" 
                        [(ngModel)]="songgroupDate"
                    >

                    <label for="songs">Songs</label>
                    <div *ngFor="let songUUID of songgroupSongBuffer; let i = index">
                        <span class="songselector_label"><label for="song{{ i+1 }}">{{ i+1 }}.</label></span>
                        <!-- if songs selectable-->
                        <select name="song{{ i+1 }}" id="song{{ i+1 }}"
                            *ngIf="songs.length > 0"
                            class="songselector" 
                            list="songlist"
                            (change)="setSong(song)"
                            ngModel
                            #song="ngModel"
                        >
                            <option value="" disabled>Choose a song</option>
                            <option *ngFor="let s of songs" value="{{s.id}}">{{ s.name }}</option>
                        </select>
                       
                        <!-- else -->
                        <input type="text" name="song{{ i+1 }}" id="song{{ i+1 }}" 
                            *ngIf="songs.length === 0"    
                            class="songselector" 
                            placeholder="No songs available" 
                            disabled
                        >
                    </div>
                    <button (click)="addSongField($event)" class="half_button">+</button>
                    <button (click)="removeSongField($event)" class="half_button">-</button>

                    <button type="submit" (click)="submitEvent($event)">Save event</button>
                </form>
            </span>
        </span>
    </div>
</div>