<div class="popup">
    <div class="popup_content">
        <div class="closeCross" (click)="closeAddForm()">X</div>
        <span [ngSwitch]="type">
            <span *ngSwitchCase="'songs'">
                <form>
                    <label for="name">Title</label>
                    <input type="text" name="name" id="name" 
                        placeholder="Title*" 
                        required 
                        [value]="song.name" 
                        (input)="song.name = $event.target.value"
                    >

                    <label for="name">Artist</label>
                    <input type="text" name="artist" id="artist" 
                        placeholder="Artist" 
                        [value]="song.artist" 
                        (input)="song.artist = $event.target.value"
                    >

                    <label for="name">BPM</label>                        
                    <input type="number" name="bpm" id="bpm" 
                        placeholder="BPM" min="40" max="240"
                        [value]="song.getBPM()" 
                        (input)="song.setBPM($event.target.value)"
                    >

                    <label for="name">Books</label>                        
                    <input type="text" name="books" id="books" 
                        placeholder="Books" 
                        [value]="songBooksStr" 
                        (input)="songBooksStr = $event.target.value"
                    >
                    <div class="description">Separate each book with ';'</div>
                    
                    <button type="submit" (click)="submitSong($event)">Add song</button>
                </form>
            </span>

            <span *ngSwitchCase="'events'">
                <form>
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" 
                        placeholder="Name*" 
                        required 
                        [value]="event.name"
                        (input)="event.name = $event.target.value"                         
                    >

                    <label for="description">Description</label>
                    <input type="text" name="description" id="description" 
                        placeholder="Description" 
                        [value]="event.description"
                        (input)="event.description = $event.target.value"                            
                    >

                    <label for="date">Date</label>
                    <input type="text" name="date" id="date" 
                        placeholder="Date" 
                        (focus)="changeDateFormat($event.target)" 
                        (blur)="changeDateFormat($event.target)" 
                        [value]="eventDate"
                        (input)="eventDate = $event.target.value"
                    >

                    <label for="songs">Songs</label>
                    <div *ngFor="let s of event.songs; let i = index">
                        <span class="songselector_label"><label for="song{{ i }}">{{ i }}.</label></span>
                        <!-- if songs selectable-->
                        <input type="text" name="song{{ i }}" id="song{{ i }}"
                            *ngIf="songs.length > 0" //TODO debug value, input (how to init that songs are shown with one empty)?!
                            class="songselector" 
                            list="songlist" 
                            [value]="s"
                            (input)="event.songs[i] = $event.target.value"                                     
                        >
                       
                        <!-- else -->
                        <input type="text" name="song{{ i }}" id="song{{ i }}" 
                            *ngIf="songs.length === 0"    
                            class="songselector" 
                            placeholder="No songs available" 
                            disabled
                        >

                        <datalist id="songlist">
                            <option *ngFor="let s of songs">{{ s.name }}</option>
                        </datalist>
                    </div>
                    <button (click)="addSongField($event)" class="half_button">+</button>
                    <button (click)="removeSongField($event)" class="half_button">-</button>

                    <button type="submit" (click)="submitEvent($event)">Add Event</button>
                </form>
            </span>
        </span>
    </div>
</div>