
    <span [ngSwitch]="type">
        <span *ngSwitchCase="'songs'">
            <mat-dialog-content>
                <form>
                    <mat-form-field>
                        <input matInput name="name" id="name" 
                            placeholder="Title"
                            required
                            autofill="false"
                            [(ngModel)]="song.name"
                        >
                    </mat-form-field>
        
                    <mat-form-field>
                        <input matInput name="artist" id="artist" 
                            placeholder="Artist" 
                            [(ngModel)]="song.artist"
                            autofill="false"
                        >
                    </mat-form-field>
        
                    <mat-form-field>
                        <input matInput type="number" name="bpm" id="bpm" 
                            placeholder="BPM" min="40" max="240"
                            [value]="song.bpm"
                            (input)="song.bpm = $event.target.value"
                            autofill="false"
                        >
                    </mat-form-field>                       
        
                    <mat-form-field>
                        <input matInput name="books" id="books" 
                            placeholder="Books" 
                            [(ngModel)]="songBooksStr"
                            autofill="false"
                        >
                        <mat-hint>Separate each book with ';'</mat-hint>
                    </mat-form-field>                       
                    
                </form>
            </mat-dialog-content>
            <div mat-dialog-actions>
                <button mat-button (click)="onNoClick()">No Thanks</button>
                <button mat-button [mat-dialog-close]="song" cdkFocusInitial>Save</button>
            </div>
        </span>
    
        <span *ngSwitchCase="'events'">
            <mat-dialog-content>
                <form>
                    <mat-form-field>
                        <input matInput 
                            name="name" id="name" 
                            placeholder="Name" 
                            required 
                            autofill="false"
                            [(ngModel)]="songgroup.name"             
                        >
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput name="description" id="description" 
                            placeholder="Description" 
                            [(ngModel)]="songgroup.description"                           
                        >
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="datetime-local" name="date" id="date" 
                            placeholder="Date" 
                            (focus)="changeDateFormat($event.target)" 
                            (blur)="changeDateFormat($event.target)" 
                            [(ngModel)]="songgroupDate"
                        >
                    </mat-form-field>
                        <div *ngFor="let songUUID of songgroupSongBuffer; let i = index">
                            <span class="songselector-label"><label for="song{{ i+1 }}">{{ i+1 }}.</label></span>
                            <!-- if songs selectable-->
                            <mat-form-field class="songselection-input">
                                <input matInput type="text" [formControl]="songSelect" [matAutocomplete]="songselection" [disabled]="songs.length === 0">
                                <mat-autocomplete #songselection="matAutocomplete">
                                    <option *ngFor="let s of songs" [value]="s">{{ s.title }}</option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <label for="songs">Songs</label>
                        <button mat-flat-button (click)="addSongField($event)" class="half_button">+</button>
                        <button mat-flat-button (click)="removeSongField($event)" class="half_button">-</button>
                </form>
            </mat-dialog-content>
            <div mat-dialog-actions>
                <button mat-button (click)="onNoClick()">No Thanks</button>
                <button mat-button [mat-dialog-close]="songgroup" cdkFocusInitial>Save</button>
            </div>
        </span>
    </span>