$lavender: #CAB5F0;
$lila: #6841B0;
$dark-lila: #51269F;

$light-orange: #FFE3BA;
$orange: #FFC36B;
$dark-orange: #E99925;

$pastel-blue: #B3D1EF;
$blue: #81AFDA;
$dark-blue: #215D97;

$pastel-yellow: #FFF6BA;
$yellow: #FFF18F;
$lemon: #FFE94C;
$dark-yellow: #E9D125;

$black: #272727;
$dark-grey: #555555;
$grey: #AAAAAA;
$light-grey: #EEEEEE;
$white: #FBFBFB;